@media screen and (max-width:700px){

    header .container{
    display: flex;
    /* vai jogar para baixo as informaçoes/imagens*/
    flex-direction: column;
    }

    .botao{
        /*desgrudar um do outro e manter o tamanho*/
        margin-top: 5px;
        width: 300px;
    }

}

@media screen and (min-width:1000px){
    /*descriçao do texto da capa principal*/
    .descricao{
        width: 50%;
    }
}